<div class="row justify-content-center">
    <div class="col-12 col-xl-10">
        <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
            <div class="row g-0">
                <!-- Payment Summary -->
                <div class="col-md-4 bg-light border-end">
                    <%- include('order-details') %>
                </div>

                <!-- Payment Content -->
                <div class="col-md-8">
                    <div x-data="paymentInterface">
                        <!-- Payment Tabs -->
                        <%- include('payment-tabs') %>

                        <div class="p-4">
                            <!-- Dynamic Payment Content -->
                            <div x-show="selectedTab === 'visa'">
                                <%- include('payment-modes/visa') %>
                            </div>
                            <div x-show="selectedTab === 'mobile'">
                                <%- include('payment-modes/mobile-money') %>
                            </div>
                            <div x-show="selectedTab === 'crypto'">
                                <%- include('payment-modes/crypto') %>
                            </div>

                            <!-- Payment Button -->
                            <button 
                                class="btn w-100 mt-4"
                                :class="buttonClasses"
                                @click="handlePayment"
                                :disabled="!isPaymentEnabled">
                                <span x-text="buttonText"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('modals/payment-status') %>